<!--File: admin_dashboard-manage_inventory-sub_inventory.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/25/2019-->
<!--Description: This is the body of the admin_dashboard-manage_inventpry-sub_inventory page-->

<!--This is create inventory and sub-->

<!--This is the button to go back to the inventory page-->
<header></header><a href="/admin_dashboard/manage_inventory" style="margin-left: 40px;margin-top: 0px;color: rgb(133,135,150);font-size: 20px;">Back To Inventory</a>
  <div class="container-fluid text-center border rounded shadow-sm" style="background-color: #ffffff;margin-top: 60px;max-width: 960px;padding-top: 15px;padding-bottom: 15px;padding-right: 50px;padding-left: 50px;">
      <h5 class="text-left" style="color: rgb(133,135,150);font-size: 28px;height: 90px;padding-top: 30px;"><strong>Inventory Item</strong></h5>
      <div class="row">
          <div class="col text-left">
              <!--This is the form to post the information to the system-->

              <!--Come back here and double check the form action-->
              <form method = "post" action = "/api/sub_inventory">
                  <div class="form-group"><label style="font-size: 20px;"><strong>Item ID:</strong><input class="form-control" type="number" id="itemID" value="{{item.itemid}}" placeholder="Item ID"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Merchant ID:</strong><input class="form-control" type="number" id="merchantID" min="0" step="1" required="" placeholder="Merchant ID"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Item Name:</strong><br><input class="form-control" type="text" id="itemName" value="{{item.itemname}}" placeholder="Name" required="" minlength="1"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Category:</strong><br><input class="form-control" type="text" id="itemCategory" value="{{item.itemcat}}" placeholder="Category" required="" minlength="1"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Quantity:</strong><br><input class="form-control" type="number" id="itemQuantity" value="{{item.quantity}}" placeholder="Quantity" required="" min="0" step="1"></label></div>
                  <div class="form-group"><label style="font-size: 20px;"><strong>Price:</strong><br><input class="form-control" type="number" id="itemPrice" required="" value="{{item.price}}" placeholder="Price" min="1" step="1"></label></div>
                  <div class="form-group" style="height: 165px;"><label style="font-size: 20px;"><strong>Image:</strong><br><input class="form-control" type="url" id="imageUrl" value="{{item.itemimagelink}}" placeholder="Image URL" style="margin-bottom: 20px;"><input type="file" id="imageFile" rows="7" cols="50"></label>
                      <small
                          class="form-text text-muted" style="font-size: 15px;"><em>Chose either by 'URL' or by 'File' for image selection</em></small>
                  </div>
                  <img src="{{item.itemimagelink}}"5
                  <div class="form-group"><label style="font-size: 20px;"><strong>Description:</strong><textarea class="form-control" id="itemDescription" rows="7" cols="50" required="" minlength="1" placeholder="Description" spellcheck="true" wrap="soft" maxlength="500">{{item.itemdesc}}</textarea><br></label></div>
              </form><button class="btn btn-primary" type="button" method = "post" action = "/api/" style="background-color: rgb(79,121,96);font-size: 20px;margin-bottom: 15px;">Submit Item</button></div>
      </div>
  </div>

<!--This is the logout button-->
<input type=button value="logout" onClick="eraseCookie()"/>
<script src="../javascripts/addItem.js" async></script>
<script src="../javascripts/client.js" async></script>
