<!--File: admin_dashboard-manage_orders.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/10/2019-->
<!--Description: This is the body of the admin_dashboard-manage_orders page-->

<div style="margin-top: 30px;margin-bottom: 50px;">
      <div class="container-fluid">
          <div class="row">
              <!--This is the welcome message the user sees-->
              <div class="col-md-12 offset-xl-1" style="margin-top: 25px;height: 90px;margin-bottom: 10px;">
                  <h1 id="welcomeName" style="color: rgb(133,135,150);font-size: 35px;"><strong>Hi There, {{userInfo.firstname}}!</strong></h1>
              </div>
          </div>
          <!--This is the nav bar that has the dashboard, manage inventory, manage orders, manage accounts-->
          <div class="row justify-content-center align-items-center" style="height: 100%;">
              <div class="col-auto col-sm-11 col-md-9 col-lg-9 col-xl-11 text-break text-center align-self-center m-auto" style="padding: 5px;padding-left: 40px;">
                  <div class="card">
                      <div class="card-header">
                          <ul class="nav nav-tabs card-header-tabs">
                              <li class="nav-item"><a class="nav-link" href="/login" style="font-size: 20px;">Dashboard</a></li>
                              <li class="nav-item"><a class="nav-link" href="/admin_dashboard/manage_inventory" style="font-size: 20px;">Manage Inventory</a></li>
                              <li class="nav-item"><a class="nav-link active" href="/admin_dashboard/manage_orders" style="font-size: 20px;">Manage Order(s)</a></li>
                              <li class="nav-item"><a class="nav-link" href="/admin_dashboard/manage_accounts" style="font-size: 20px;">Manage Accounts</a></li>
                          </ul>
                      </div>
                      <!--This is the manage orders sub section on the page-->
                      <div class="card-body">
                          <h4 class="card-title" style="font-size: 28px;margin-top: 20px;">Manage Order(s)</h4>
                          <div class="col align-self-center m-auto">
                              <div class="table-responsive" style="margin-top: 40px;padding: 10px;">
                                {{#if hasOrders}}
                                    <!--This is the table of orders-->
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Order Number</th>
                                                <th>Customer ID</th>
                                                <th>Item ID</th>
                                                <th>Order Total</th>
                                                <th>Order Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each orders}}
                                            <tr>
                                                <td><a href="/admin_dashboard/manage_orders/sub_order/{{ordernum}}">{{ordernum}}</a></td>
                                                <td>{{customernum}}</td>
                                                <td><a href="/marketItem/{{itemid}}">{{itemid}}</a></td>
                                                <td>{{ordertotal}}</td>
                                                <td>{{orderdate}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                  {{else}}
                                  <p> Sadly there haven't been any orders yet.
                                  {{/if}}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
