<!--File: contact.hbs-->
<!--Authors: Alex Antaki, Matthew Oakley, Alex Mahlmeister, Raislan Aiken, and Jaspreet Singh-->
<!--Date: 11/18/2019-->
<!--Description: This is the body of the cart page-->
<main class="page shopping-cart-page">
       <section class="clean-block clean-cart dark" style="margin-top: 70px;margin-bottom: 125px;">
           <div class="text-center block-heading" style="margin-bottom: 0px;padding-top: 15px;color: rgb(133,135,150);">
               <h2 class="text-center" style="padding-top: 0px;font-size: 38px;"><strong>Shopping Cart</strong></h2>
               <p style="font-size: 18px;margin-bottom: 30px;">Ready To Checkout?<br>Review What's In Your Cart And Continue To Checkout!</p>
           </div>
           <div class="container border rounded-0 shadow-sm" style="background-color: #ffffff;">
               <div class="content">
                   <div class="row no-gutters justify-content-center align-items-center" style="padding-top: 5px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;">
                       <div class="col-auto col-sm-auto col-md-auto col-lg-auto">
                           <div class="items" style="height: 400px;margin-right: 10px;">
                               <div class="product"></div>
                               <div class="product">
                                {{#each items}}
                                <div class="row justify-content-center align-items-center" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;margin-top: 5px;margin-bottom: 5px;">
                                     <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto" style="padding-right: 20px;">
                                         <div class="product-image"><img class="img-fluid d-block mx-auto image" src="{{img}}" style="width: 74px;height: 100px;"></div>
                                     </div>
                                     <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto product-info"><a class="product-name" href="/marketItem/{{itemId}}" style="font-size: 20px;">{{name}}</a>
                                         <div class="product-specs">
                                             <div style="font-size: 17px;"><span style="font-size: 17px;"><strong>Category:&nbsp;</strong></span><span class="value" style="font-size: 17px;">{{cat}}</span></div>
                                             <div><span style="font-size: 17px;"><strong>Price Per Unit:&nbsp;</strong></span><span id="{{itemId}}Price"class="value" style="font-size: 17px;">${{price}}</span></div>
                                         </div>
                                     </div>
                                     <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto quantity"><label class="d-none d-md-block" for="quantity" style="font-size: 18px;"><strong>Quantity</strong></label><input type="number" id="{{itemId}}" onChange="updatePage({{itemId}})" class="form-control quantity-input" min="1" max="{{maxQuantity}}" value="{{quantity}}"></div>
                                     <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto price"
                                         style="margin-top: 5px;"><span id="{{itemId}}TotalItemPrice" style="font-size: 20px;padding-top: 0px;">${{total}}</span></div>
                                     <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto"><button class="btn btn-primary" type="button" onClick="removeFromCart({{itemId}});"style="background-color: rgb(105,108,119);padding-top: 6px;margin-top: 5px;">Remove</button></div>
                                 </div>
                                {{/each}}
                               </div>
                           </div>
                       </div>
                       <div class="col text-center" style="background-color: #fbf9f9;padding-left: 0px;">
                           <div class="border rounded shadow-sm summary">
                               <h2 style="padding-bottom: 0px;background-color: rgb(251,249,249);color: rgb(133,135,150);padding-top: 15px;font-size: 25px;"><strong><em>Summary</em></strong></h2>
                               <h4 class="text-center" style="padding-bottom: 5px;padding-top: 20px;"><span class="text" style="font-size: 22px;"><strong>Subtotal: &nbsp;</strong></span><span class="price" id="subTotal" style="font-size: 22px;"></span></h4>
                               <h4 style="padding-bottom: 17px;padding-top: 5px;"><span class="text" style="font-size: 22px;"><strong>Shipping: &nbsp;</strong></span><span class="price" style="font-size: 22px;">Calculated At Checkout</span></h4>
                               <h4 style="padding-bottom: 20px;padding-top: 5px;"><span class="text" style="font-size: 22px;"><strong>Tax: &nbsp;</strong></span><span class="price" style="font-size: 22px;">Calculated At Checkout</span></h4>
                               <h4 style="padding-bottom: 0px;padding-top: 10px;margin-bottom: 45px;"><span class="text" style="font-size: 25px;"><strong>Total: &nbsp;</strong></span><span class="price" id="totalTotal" style="font-size: 25px;"><strong></strong></span></h4>
                                 <a href="/check_out"><button class="btn btn-primary btn-block btn-lg border rounded shadow-sm"
                                   type="button"  style="background-color: rgb(79,121,96);font-size: 22px;">Checkout</button></a></div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
   </main>
<body  onLoad="updatePage();"/>
   <script>
   function removeFromCart(itemId) {
     var json = JSON.stringify({
       "itemId" : itemId,
       "amount" : 999,
       "isAdding": false
     });
     console.log(json);
     // make the api call
     fetch("/api/addToCart",
       {method: "POST",
         headers: {
         "Accept": "application/json",
         "Content-Type": "application/json"
       },
       body : json
     })
     .then(function(response) {
       if (response.status !== 200) {
         console.log("Problem with ajax call! " + response.status
             + " msg: " + response.value);
         return
       } else {
         // send to a webpage
         response.text().then(function(data) {
           location.reload();
         });
       }
     });
   }
   function updatePage() {
     var ids = []
     {{#each items}}
       ids.push({{itemId}});
     {{/each}}
     var totalCount = 0;
     var total = 0;
     // get total item quan
     for (var i = 0; i < ids.length; i++) {
       var currentCount = parseInt(document.getElementById(ids[i].toString()).value);
       var pricePerUnit = parseFloat(document.getElementById(ids[i].toString() + "Price").innerHTML.replace("$", ""));
       var itemTotal = currentCount * pricePerUnit;
       document.getElementById(ids[i].toString() + "TotalItemPrice").innerHTML = "$" + itemTotal.toString();
       total += itemTotal;
       var json = JSON.stringify({
         "itemId" : ids[i],
         "amount" : currentCount,
       });
       // make the api call
       fetch("/api/setToCart",
         {method: "POST",
           headers: {
           "Accept": "application/json",
           "Content-Type": "application/json"
         },
         body : json
       })
       if (i == ids.length - 1) {
         document.getElementById("subTotal").innerHTML = "$" + total.toString();
         document.getElementById("totalTotal").innerHTML = "$" + total.toString();
       }
     }
   }
   function checkOut() {
   }
   </script>
