{{#each item}}
<h1> {{itemId}} </h1>
<h1> {{{itemcat}}} </h1>
<h1> {{{itemdesc}}} </h1>
<h1> {{{quantity}}} </h1>
<h1> {{{merchantid}}} </h1>
<h1> {{{itemname}}} </h1>
<h1> {{{price}}} </h1>
<img src="{{{itemimagelink}}}"/>
{{/each}}
