<div style="margin-top: 30px;margin-bottom: 50px;">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12 offset-xl-1" style="margin-top: 25px;height: 90px;margin-bottom: 10px;">
                  <h1 style="color: rgb(133,135,150);font-size: 35px;"><strong>Hi There, {{userInfo.firstname}}!</strong></h1>
              </div>
          </div>
          <div class="row justify-content-center" style="margin-bottom: 50px;">
              <div class="col-xl-4 m-auto" style="margin-top: 10px;margin-bottom: 15px;">
                  <div class="card shadow border-left-primary py-2" style="margin-top: 10px;margin-bottom: 10px;">
                      <div class="card-body">
                          <div class="row text-center align-items-center no-gutters">
                              <div class="col-xl-9 text-center mr-2">
                                  <div class="text-uppercase text-primary font-weight-bold text-xs mb-1" style="height: 28px;"><span style="font-size: 16px;">GoAT POINT BALANCE</span></div>
                                  <div class="text-dark font-weight-bold h5 mb-0"><span style="font-size: 22px;">{{goatPoints}} Goat Point(s)</span></div>
                              </div>
                              <div class="col-auto" style="font-size: 20px;"><i class="fas fa-money-bill fa-2x text-gray-300"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6"></div>
          </div>
          <div class="row justify-content-center align-items-center" style="height: 100%;">
              <div class="col-auto col-sm-11 col-md-9 col-lg-9 col-xl-11 text-break text-center align-self-center m-auto" style="padding: 5px;padding-left: 40px;">
                  <div class="card">
                      <div class="card-header">
                          <ul class="nav nav-tabs card-header-tabs">
                              <li class="nav-item"><a class="nav-link" href="/login" style="font-size: 20px;">Dashboard</a></li>
                              <li class="nav-item"><a class="nav-link" href="/user_dashboard/view_orders" style="font-size: 20px;">Order(s)</a></li>
                              <li class="nav-item"><a class="nav-link active" href="/user_dashboard/edit_information" style="font-size: 20px;">Account Details</a></li>
                          </ul>
                      </div>
                      <div class="card-body">
                          <h4 class="card-title" style="font-size: 28px;margin-top: 20px;">Account Details</h4>
                          <div class="col align-self-center m-auto">
                              <div class="table-responsive" style="margin-top: 25px;padding: 10px;height: 544px;">
                                  <table class="table table-hover">
                                      <thead>
                                          <tr></tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <td>Username</td>
                                              <td id="firstName" contenteditable="false">johnDoe</td>
                                          </tr>
                                          <tr>
                                              <td>First Name</td>
                                              <td id="firstName" contenteditable="false">{{userInfo.firstname}}</td>
                                          </tr>
                                          <tr>
                                              <td>Last Name</td>
                                              <td id="lastName" contenteditable="false">{{userInfo.lastname}}</td>
                                          </tr>
                                          <tr>
                                              <td>E-Mail</td>
                                              <td id="eMail" contenteditable="false">{{userInfo.emailaddres}}</td>
                                          </tr>
                                          <tr>
                                              <td>Phone Number (Home)</td>
                                              <td id="phoneNumberHome" contenteditable="false">{{userInfo.phonehome}}</td>
                                          </tr>
                                          <tr>
                                              <td>Phone Number (Mobile)</td>
                                              <td id="phoneNumberMobile" contenteditable="false">{{userInfo.phonemobile}}</td>
                                          </tr>
                                          <tr>
                                              <td>Address (1)</td>
                                              <td id="addressOne" contenteditable="false">{{userInfo.address1}}</td>
                                          </tr>
                                          <tr>
                                              <td>Address (2)</td>
                                              <td id="addressTwo" contenteditable="false">{{userInfo.address2}}</td>
                                          </tr>
                                          <tr>
                                              <td>City</td>
                                              <td id="cityName" contenteditable="false">{{userInfo.citycode}}</td>
                                          </tr>
                                          <tr>
                                              <td>State</td>
                                              <td id="stateName" contenteditable="false">{{userInfo.statecode}}</td>
                                          </tr>
                                          <tr>
                                              <td>Zip Code</td>
                                              <td id="zipCode" contenteditable="false">{{userInfo.postcode}}</td>
                                          </tr>
                                          <tr>
                                              <td contenteditable="false">Gender</td>
                                              <td id="genderCode" contenteditable="false">{{userInfo.gendercode}}</td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div><button class="btn btn-primary" id="editAccountInformation" type="button" style="background-color: rgb(79,121,96);margin-top: 15px;font-size: 18px;">Edit Information</button><button class="btn btn-primary text-center" id="sumbitChanges"
                              type="button" style="background-color: rgb(100,117,207);margin-top: 15px;font-size: 18px;display:none;">Submit Changes</button><button class="btn btn-primary" id="cancelChanges" type="button" style="background-color: rgb(129,130,133);margin-top: 15px;font-size: 18px;display: none;">Cancel</button></div>
                  </div>
              </div>
          </div>
      </div>
  </div>


<form>
  <table>
    <tr>
      <td>
        Account ID
      </td>
      <td>
        <input id="aid" value="{{aid}}" type="textbox" readonly> </input>
      </td>
    </tr>
    <tr>
      <td>
        First Name
      </td>
      <td>
        <input id="first_name" value="{{firstname}}" type="textbox"> </input>
      </td>
    </tr>
    <tr>
      <td>
        Last Name
      </td>
      <td>
        <input id="last_name" value="{{lastname}}" type="textbox"> </input>
      </td>
    </tr>
    <tr>
      <td>
        Address
      </td>
      <td>
        <input id="address" value="{{address}}" type="textbox"> </input>
      </td>
    </tr>
    <tr>
      <td>
        City
      </td>
      <td>
        <input id="city" value="{{city}}" type="textbox"> </input>
      </td>
    </tr>
    <tr>
      <td>
        ZIP
      </td>
      <td>
        <input id="zip" value="{{zip}}" type="textbox"> </input>
      </td>
    </tr>
    <tr>
      <td>
        Phone Number
      </td>
      <td>
        <input id="phone_number" value="{{phonenumber}}" type="textbox"> </input>
      </td>
    </tr>
    <tr>
      <td>
        Email
      </td>
      <td>
        <input id="email" value="{{email}}"type="textbox" readonly> </input>
      </td>
    </tr>
    <tr>
      <td>
        Username
      </td>
      <td>
        <input id="username" value="{{username}}"type="textbox" readonly> </input>
      </td>
    </tr>
    <tr>
      <td>
        Password
      </td>
      <td>
        <input id="password" type="password"> </input>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="button" value="Submit" onclick="updateAccount()"/>
      </td>
    </tr>
</form>
